* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

/* .description {
  padding-right: 800px;
  padding-left: 200px;
} */

.flex-container {
  padding-left: 10px;
  display: inline-block;
}

img {
  padding-top: 10px;
}


@media screen and (min-width: 1024px) {
  .flex-container {
    padding-left: 85px;

  }
  img {
    padding-left: 50px;
  }
  .title {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-container {
    padding-left: 150px;

  }
  img {
    padding-left: 50px;
  }
  .title {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1461px) {
  .flex-container {
    padding-left: 155px;

  }
}
